h2 {
color: #A0A0A0;
font-size: 27px;
font-family: 'Montserrat', sans-serif;
font-weight: light;
margin:22,41px 0;
}



.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  padding: 120px 0;
  font-size: 38px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.banner h1 {
  font-size: 38px;
}

.description{
font-family: 'Lora', serif;
font-size: 30px;
text-align: left;
width: 700px 48px;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-size: 30px;
font-style: italic;
font-weight: lighter;
opacity: 0.8;
}

.container{
  text-align: left;
  margin: 50px 185px
}

.link-medium {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}
